@{
    Page.Title = "Password Changed";
}

<p>
    Your password has been changed.
    @if (User.Identity.IsAuthenticated)
    {
        @: You are now logged in, and can <a href="@Url.Action("Index", "Home")">view your user account here</a>.
    }
    else
    {
        @: You can now @Html.ActionLink("login here", "Index", "Login").
    }
</p>
