@{
    Page.Title = "Close My Account";
}

<form action="" method="post" class="form-horizontal">
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <p>
        Are you sure you want to close your account? <strong>This action cannot be undone.</strong>
    </p>

    <p>
        <button class="btn btn-danger">Yes, Close Account</button>
    </p>
</form>
