@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.ChangePasswordInputModel
@{
    Page.Title = "Change Password";
}

<form action="" method="post" class="form-horizontal">
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary">Change Password</button>
        </div>
    </div>
</form>
