@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.ChangePasswordInputModel
@{
    Page.Title = "Set Password";
}

<form action="@Url.Action("SendPasswordReset", "ChangePassword")" method="post" class="form-horizontal">
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <p>
        Your account does not currently have a password. In order to set one,
        we will send an email to your registered address to confirm the password
        request.
    </p>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary">Send Request</button>
        </div>
    </div>
</form>
