@model BrockAllen.MembershipReboot.Mvc.Areas.UserAccount.Models.RegisterInputModel
@{
    Page.Title = "Register";
}

<form action="" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button class="btn btn-primary">Register</button>
        </div>
    </div>
</form>
