<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <!--<remove name="Cache-Control" />
        --><!-- Response can be cached by browser and any intermediary caches (i.e. it is "public") for up to 1 day (60 seconds x 60 minutes x 24 hours) --><!--
        <add name="Cache-Control" value="max-age=86400"/>-->
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
